@model CompanyInfromation
    <div id="mytask-layout" class="theme-indigo">
        <partial name="MenuTab" model="@Model" />

        <!-- main body area -->
        <div class="main px-lg-4 px-md-4">

            <!-- Body: Body -->
            <div class="body d-flex py-3">
                <div class="container-xxl">
                    <div class="row clearfix g-3">
                       
                        <div class="col-xl-4 col-lg-12 col-md-12">
                            <div class="row g-3 row-deck">
                                <div class="col-md-6 col-lg-6 col-xl-12">
                                    
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-12  flex-column">
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center flex-fill">
                                                <div class="btn d-flex flex-column ps-3  flex-fill">
                                                  بدء العمل
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        
                    </div><!-- Row End -->
                </div>
            </div>

           
        </div>
    </div>

    